*{
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: serif;
    font-weight: normal;
    text-decoration: none;
    color: #000;
    box-sizing: border-box;
}
h1 {
  line-height: 1;
}
p {
    line-height: 2;
}
.icon-img {
  width: 160px;
  height: 160px;
}
.fuwa {
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: all 1s;
}
.fuwa.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(0px);
}
.work-img {
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  width: 240px;
  max-width: 240px;
  height: 133px;
}

#hamburger {
  z-index: 1000;
  display: none;
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: 1s;
}
@media screen and (max-width: 768px) {
  #hamburger {
    display: block;
  }
}
.inner_line {
  display: block;
  position: absolute;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #000;
  transition: 1s;
  border-radius: 4px;
}
.line1 {
  top: 8px;
}
.line2 {
  /* top: 11px; */
  bottom: 8px;
}
.line_1,.line_2 {
  background-color: #ffffff;
  top: 11px;
}
.line_1 {
  transform: rotate(-135deg);
}
.line_2 {
  transform: rotate(135deg);
}
/* ----- */
.shutter{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#1e1e1e;
  z-index:9999;
  -webkit-animation: byeShutter 2.6s forwards;
  animation: byeShutter 2.6s forwards;
}
.shutter::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
  width: 0;
  height: 2px;
  -webkit-animation: shutterOpen 2.6s forwards;
          animation: shutterOpen 2.6s forwards;
}
.content {
  -webkit-animation: contentScale 2.6s forwards;
          animation: contentScale 2.6s forwards;
}

@keyframes byeShutter {
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}
@keyframes shutterOpen {
  0% {
    width: 0;
    height: 2px;
  }
  50% {
    width: 100%;
    height: 2px;
  }
  90% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
@keyframes contentScale {
  70% {
    -webkit-transform: perspective(800px) scale(0.9) rotateX(15deg);
            transform: perspective(800px) scale(0.9) rotateX(15deg);
  }
  100% {
    -webkit-transform: perspective(800px) scale(1) rotateX(0);
            transform: perspective(800px) scale(1) rotateX(0);
  }
}
/* ----- */
.scrolldown {
  z-index: 10;
  position: absolute;
  left: 50%;
  bottom: 20px;
  height: 60px;
}
.scrolldown::after {
  z-index: 10;
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 30px;
  background: #000000;
  animation: pathmove 1.8s ease-in-out infinite;
  opacity: 0;
}
@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 0.8;
  }
  50% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 60px;
    opacity: 0;
  }
}