$breakpoints: (
    sps: "only screen and (max-width: 479px)",
    spl: "only screen and (max-width: 599px)",
    tab: "only screen and (max-width: 768px)",
);
@mixin media($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}
// ブレイクポイントの設定

header {
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 10;
    nav#nav-menu-pc {
        position: relative;
        ul {
            display: flex;
        }
        li {
            @include media(tab) {
                &:not(:first-child) {
                    display: none;
                }
            }
        }
    }
    .nav-contents {
        display: inline-block;
        line-height: 52px;
        padding: 0 25px;
        ruby-position: under;
        font-size: 16px;
        &:hover .ruby-pos {
            display: block;
        }
    }
    .icon-github {
        width: 32px;
        height: 32px;
        position: absolute;
        top: 10px;
        right: 10px;
        @include media(tab) {
            right: 64px;
        }
    }
}
.site-ttl {
  padding: 14px 25px 14px 50px;
  @include media(spl) {
      padding-left: 14px;
  }
}
.ruby-pos {
    text-align: center;
    ruby-position: under;
    display: none;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    position: relative;
    transform: translateY(5px);
}
#nav-menu {
    position: absolute;
    top: 0;
    right: -50%;
    width: 50%;
    height: 100vh;
    background: rgba(238, 238, 238, 0.9);
    transition: .7s;
    text-align: center;
    &.in {
        right: 0;
    }
    & ul {
        padding-top: 70px;
    }
    & li {
        list-style-type: none;
        font-size: 20px;
        color: #fff;
        &:not(:first-child) {
            padding-top: 20px;
        }
    }
    & a {
        display: inline-block;
        text-decoration: none;
        padding: 5px 0px;
        transition: .5s;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            display: block;
            height: 3px;
            background-color: rgba(45,45 ,45 , 0.8);
            bottom: 0px;
            right: 25%;
            width: 0;
            -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
        }
        &:hover::after {
            width: 50%;
        }
    }
  }
// header

.section {
    padding: 56px 100px 0px;
    @include media(tab) {
        padding: 56px 50px 0px;
    }
    text-align: center;
    &-ttl {
        font-weight: normal;
        font-size: 32px;
        padding: 20px 0 50px;
    }
    &-ttl-sup {
        font-size: 16px;
        vertical-align: middle;
        opacity: 0.7;
    }
}
#about {
    background-color: #fff;
    padding-top: 100px;
}
#work {
    background-color: #fff;
    padding-top: 85px;
}
#question {
    height: 400px;
}
#contact {
    padding-bottom: 30px;
}
/* ------------- */
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}
.flex-wrap-rev {
    display: flex;
    flex-wrap: wrap;
    @include media(spl) {
        flex-direction: column-reverse;
    }
}
#work .flex-wrap {
    margin-bottom: 150px;
}
#work .flex-wrap-rev {
    margin-bottom: 50px;
}
.flex-item {
    width: 50%;
    @include media(spl) {
        width: 100%;
    }
    &-des {
        padding-top: 30px;
        & p {
            padding-bottom: 15px;
        }
    }
}
.work-item {
    max-width: 600px;
    margin: 0 auto;
}
.about {
    &-img, &-des {
      width: 50%;
      @include media(spl) {
          width: 100%;
      }
    }
    img {
        width: 240px;
        height: 240px;
    }
    &-des {
        text-align: left;
        padding-top: 20px;
        @include media(spl) {
            padding: 20px 50px 0px;
        }
    }
}

/* --------------- */
.skill {
    &-item {
        width: 50%;
        padding: 20px 0 50px;
        @include media(spl) {
            width: 100%;
            &:last:child {
                padding: 20px 0 0;
            }
        }
    }
    &-des {
        text-align: left;
        padding: 20px 20px 0px;
        @include media(spl) {
            padding: 20px 80px 0px;
        }
    }
}
.github-btn {
    display: inline-block;
    position: relative;
    border: 2px solid #333;
    padding: 20px 20px;
    min-width: 200px;
    border-radius: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    transition: all 0.5s;
    & span {
        position: absolute;
        left: 50%;
        top:50%;
        transform:translate(-50%,-50%);
        transition: all .5s;
        display: block;
        white-space: nowrap;
    }
    & span:nth-child(2) {
        opacity: 0;
        color: #fff;
    }
    &:hover {
        color: #fff;
        background-color: #000;
        & span:nth-child(1) {
            opacity: 0;
        }
        & span:nth-child(2) {
            opacity: 1;
        }
    }
}